# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cached files
*.pyc

# Mac files
.DS_Store

#virtual environment
venv/

.env

google_auth.py
wisdom-dental-441719-bed0a9e07213.json
node_modules
